<h2>Order Details</h2>
<h3><span *ngIf="selectedOrder?.new">New</span> {{selectedOrder?.name[1]}} {{selectedOrder?.name[0]}} {{selectedOrder?.date}}</h3>
<h4>Email: </h4>
<p> {{selectedOrder?.email}} </p>
<h4>Items ordered:</h4>
<ul>
  <li *ngFor="let item of selectedOrder?.items">{{item}} ${{item.price}}</li>
</ul>
<p>Total: ${{selectedOrder?.total}}</p>
<h4>Address:</h4>
<p>{{selectedOrder?.address[3]}}</p>
<p *ngIf="selectedOrder?.address[4]">{{selectedOrder?.address[4]}}</p>
<p>{{selectedOrder?.address[0]}}, {{selectedOrder?.address[1]}} {{selectedOrder?.address[2]}}</p>
<button (click)="markNew()">Mark As New</button>
<button (click)="markSend()">Sent</button>
<button (click)="deleteOrder()">Delete</button>
